<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="robots" content="index, follow, archive" />
	<link rel="icon" href="/favicon.ico" type="image/ico" />

<!--[if IE]>
	<style type="text/css">
		* { outline: none; }
		h2.legal{ font-weight: bold; margin-bottom: 3px; }
		.regForm input, input.normal {padding-top: 2px; height:18px;}
		#communityRegister .regForm input, #communityWelcome .regForm input { padding: 4px 6px 0px;}
        .loginMain input { height: 18px; padding-top: 3px; }
        .loginBox #loginCaptcha { padding-top: 4px; }
		#communityRegister .wmLabel { margin: 0px 0px 0px 7px; position: relative; top: 5px; }
	</style>
<![endif]-->
<!--[if lt IE 8]>
	<link href="/css/iefix.css" rel="stylesheet" type="text/css" media="screen"/>
<![endif]-->
<!--[if IE 9]>
	<link href="/css/ie9.css" rel="stylesheet" type="text/css" media="screen"/>
<![endif]-->
<!--[if IE 7]>
	<style type="text/css">
		div.twoRowsTitle, h2.categoryTitle, p.numberVideos { margin-top: 14px; }
        .pages a, a#currentPageNum { padding: 0px 0px 3px 6px; }
		#sortingOptions{padding-top: 3px;}
		.toFix .twoRowsTitle{ margin: 0; padding: 0; height: 30px; }
		.toFix .twoRowsTitle h2{ padding: 0; margin: 0; }
		.toFix div.video{ height: 139px; }
		div.inReview{ height: 140px; }
 	</style>
<![endif]-->
<!--[if IE 6]>
	<link href="/css/ie6.css" rel="stylesheet" type="text/css" media="screen"/>
	<script src="/js/DD_belatedpng.js"></script>
	<script>
		DD_belatedPNG.fix('.activateTooltip, .activateTooltip p, .activateTooltip div, .fadeUpload, .iconAddFriend, .iconAcceptFriend, .iconDenyFriend, .iconNewMail, .iconMail, .iconIgnoreFriend, .detailedSearchTerms ul li, .messageContent .messageBody .butAccept, .messageContentNew .messageBody .butAccept, .messageContent .messageBody .butIgnore, .messageContentNew .messageBody .butIgnore, .img_png, .disabledSection, .bottom, #accDisabledMsg, #accDisabledMsgHolder, .wmdisable');
	</script>
<![endif]-->

	<title>Free Porn Sex Videos - XXX Movies - Home of Porno</title>
</head>

<body style="background-color: #000;">
	<div id="avOverlayHolder" class="show">
			<div class="avContent">
			<div>
				<img class="logo" src="http://images.cdn.redtube.com/_thumbs/v2009/logo/redtube_260x82_black.png" alt="RedTube - Home of Porn" />
			</div>
			<p class="topSentence">This website contains sexually explicit material.</p>

			<div class="buttons">
				<span class="btnContainer">
					<a id="rte" class="buttonStyle" href="<%=url_for :controller => :index, :action => :enter %>" alt="Free Porn">ENTER</a>
				</span>
				<span class="btnContainer">
					<a id="rtl" class="buttonStyle" href="<%=url_for :controller => :index, :action => :exit %>">EXIT</a>
				</span>

			</div>

			<p>In order to enter this website you must certify as follows:</p>
			<p>Under the governing law of my country I have reached the age of majority  		and the age required to view sexually explicit material and I am accessing this  		website from a location where sexually explicit content is legal and permitted.  		I will not permit any person to access this website who is not legally permitted to do so.</p>
			<p>I have read and I agree to the RedTube			<a style="text-decoration: none; color: rgb(255, 255, 255);" href="/legal#TermsOfService">Terms of Service</a>
			and <a style="text-decoration: none; color: rgb(255, 255, 255);" href="/legal#PrivacyPolicy">Privacy Policy</a>.</p>

		</div>	</div>

<div id="suggest"></div>
<div class="transpBackgr" id="loginContainer"></div>
<!--[if IE 6]><script>DD_belatedPNG.fix('.friendsReqBox');</script><![endif]-->
<div class="transpBackgr" id="friendReqContainer"></div>
</body>
</html>
<style type="text/css">
	html, body {margin:0px; background: #000000; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 13px; color: #A0A0A0; text-align:center; width:100%;}
table{text-align:left;}

a { font-family:Arial; color:#C8101D; font-weight:bold; }
a.s { font-size:12px; }
a.ss { font-size:12px; }
a.p { font-family:Verdana,Tahoma,Arial; color:#FFFFFF; font-weight:bold; font-size:10px; }
td { font-family:Tahoma,Arial; color:#A0A0A0; font-size:11px; }

a:link {text-decoration:none;}
a:active {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}

a.p:hover {color:#FF0000; }

.t { border:solid 1px #A0A0A0; margin-bottom:3px;}
.d { font-family:Tahoma,Arial; color:#D0D0D0; font-size:10.5px; font-weight:bold;}
				
</style>
<style type="text/css">
	@charset "UTF-8";
/* CSS Document */
/*LAYOUT*/
a {
	color					: #d60211;
	outline					: 0px;
}
a.s {
	font-size				: 14px;
	font-family				: Arial,sans-serif;
	line-height				: 15px;
	font-weight				: bold;
}
.d {
	font-family				: Arial;
	color					: #FFF;
	font-size				: 11px;
	font-weight				: bold;
}
.r, .v{
	float					: right;
	color					: #A0A0A0;
	font-family				: Arial,sans-serif;
	font-weight				: bold;
}
.v {
	float					: left;
	font-weight				: normal;
}
img {
	border					: none;
}
li {
	list-style				: none;
	border					: none;
	margin					: 0px;
	padding					: 0px;
}
.contentHolder {
	width					: 973px; /*990-17padding*/
	background-color			: #000;
	margin					: 0px auto;
	overflow				: hidden;
	padding					: 18px 0 80px 18px;
	text-align				: left;
	min-height				: 1720px;
}
.categoryHeading {
	font-family				: Arial;
	color					: #7A7A7A;
	font-size				: 20px;
	font-weight				: bold;
	float					: left;
	padding					: 20px 0px 0px 0px;
	margin					: 0px;
}
.pageTopSearches .categoryHeading, .pagePornStars .categoryHeading {
	clear					: both;
	display					: block;
	float					: none;
	width					: 100%;
}
.title_Heading {
	font-family				: Arial;
	color					: #FFF;
	font-size				: 18px;
	font-weight				: bold;
	padding					: 0px 0px 0px 0px;
	margin					: 0px;
	width					: 100%;
}
.title_Heading span {
	font-family				: Arial;
	color					: #7A7A7A;
	font-size				: 18px;
	font-weight				: bold;
}
.title_Heading a {
	font-family				: Arial;
	color					: #FFF;
	font-size				: 18px;
	font-weight				: bold;
	text-decoration				: none;
}
.title_Heading a:hover {
	text-decoration				: underline;
}
.categoryHeading#noVideos{
	margin-bottom				: 250px;
}
.content {
	float					: left;
	padding-right			: 17px;
	position				: relative;
	width					: 765px;
}
.towerAds, #as4 {
	width					: 190px;
	height					: 1760px;
	float					: left;
	margin-top				: -3px;
	overflow				: hidden;
}
#as_4 {
	margin-bottom			: 17px;
}
#as_103 {
	float					: right;
}
.header, .navigation, .videosTable, .footer, .bottomAds, #as3, .upload, .time, .lastMovieRow {
	width					: 100%;
	clear					: both;
	text-align				: left;
}
.logo, dl.tabs dt, .searchButton, ul.videoThumbs li {
	float					: left;
}
div.logo {
	float					: left;
	height					: 88px;
	width					: 270px;
}
.logo a, .logo a:hover, .logo a:visited {
	color					: #FFF;
	display					: block;
	height					: 56px;
	margin					: 0;
	padding					: 0;
	text-decoration				: none;
}
.slogan {
	color					: #FFFFFF;
	display					: block;
	font-weight				: bold;
	font-size				: 13px;
	margin					: 0 0 0 5px;
	padding					: 0;
	text-align				: justify;
	width					: 238px;
	height					: 18px;
}
span.slogan a, .slogan a, .slogan a:hover, .slogan a:visited {
	height					: 18px;
}
.topAds, .searchForm, .downPages {
	float					: right;
}
/*TOP*/
.header {
	height					: 92px;
	position				: relative;
}
.header iframe {
	float					: right;
	height					: 46px;
	margin-top				: 3px;
	overflow				: hidden;
	text-align				: right;
	width					: 482px;
}
.topNavigation {
	background				: url("http://img01.redtubefiles.com/_thumbs/design/tn_b.png") 0 0 repeat-x;
	float					: left;
	height					: 23px;
	margin-bottom				: 4px;
	margin-left				: 12px;
	overflow				: hidden;
	text-align				: right;
	width					: 445px;
}
.topNavigation.long {
	width					: 483px;
}
.topNavigation .lc, .topNavigation .rc {
	height					: 23px;
	width					: 9px;
}
.topNavigation .lc {
	background				: url("http://img02.redtubefiles.com/_thumbs/design/tn_l.png") 0 0 no-repeat;
	float					: left;
}
.topNavigation .rc {
	background				: url("http://img03.redtubefiles.com/_thumbs/design/tn_r.png") 0 0 no-repeat;
	float					: right;
}
#moreRT {
	float					: left;
	margin					: 0 0 0 -2px;
	overflow				: hidden;
	padding					: 0;
}
#moreRT li {
	float					: left;
	margin					: 1px 10px 0 0;
}
#moreRT li a {
	color					: #808080;
	display					: block;
	float					: left;
	font-size				: 11px;
	height					: 17px;
}
#moreRT li a span {
	display					: block;
	float					: left;
	margin					: 3px 0 0 3px;
}
#moreRT li a:hover, .topCommunity a {
	color					: #FFF;
}
.topCommunity a#topUserName {
	color 					: #D6030A;
}
#moreRT li img{
	float					: left;
}
.topCommunity {
	height					: 19px;
	overflow				: hidden;
}
.topCommunity a, .topCommunity span, .topCommunity em {
	color					: #FFF;
	display					: block;
	float					: right;
	font-size				: 11px;
	margin-top				: 4px;
}
.topCommunity em {
	color					: #d6030a;
	font-style				: normal;
	overflow				: hidden;
	width					: 210px;
}
.separatorLogin {
	background				: url("http://img04.redtubefiles.com/_thumbs/design/separator_signIn.png") 5px 1px no-repeat;
	display					: block;
	float					: right;
	height					: 13px;
	width					: 10px;
}
.topHeading {
	color					: #FFFFFF;
	font-family				: Arial,Helvetica,sans-serif;
	font-size				: 22px;
	margin					: 0 0 15px;
	padding					: 45px 0 0;
	text-align				: right;
	float					: right;
}
.googlePlus {
	float					: right;
	margin-top				: 2px;
}
.googlePlus iframe {
	width					: 32px !important;
}
/*TABS*/
.navigation {
	background				: #000 url("http://img01.redtubefiles.com/_thumbs/design/mback.gif") top left repeat-x;
	margin					: 0px;
	padding					: 0px;
	height					: 63px;
}
dl.tabs {
	font-family				: Arial;
	float					: left;
	height					: 32px;
	overflow				: hidden;
	margin					: 0px;
	padding					: 0px;
}
dl.tabs dt {
	margin-right				: 3px;
}
.tabs a {
	background				: url("http://img02.redtubefiles.com/_thumbs/design/tabs.png") 0 0 no-repeat;
	color					: #646464;
	display					: block;
	font-size				: 18px;
	font-weight				: normal;
	height					: 26px;
	padding-top				: 4px;
	text-align				: center;
	text-decoration				: none;
	width					: 106px;
}
.tabs a.categories, .tabs a.community {
	background				: url("http://img03.redtubefiles.com/_thumbs/design/tabc.png") no-repeat;
	width					: 117px !important;
}
.tabs a:hover {
	background-position			: 0 -32px;
	color					: #bababa;
	text-decoration				: none;
}
a#currentTab {
	background-position			: bottom left;
	color					: #FFF;
	font-weight				: bold;
	height					: 28px;
}
a:hover#currentTab {
	text-decoration				: none;
}
.tabs a.categories, .tabs a.community {
	width					: 117px;
}
.searchForm {
	padding-bottom				: 4px;
	position				: relative;
}
a.searchButton {
	background				: url("http://img04.redtubefiles.com/_thumbs/icons/search.png") 0 0 no-repeat;
	border					: 0;
	display					: block;
	height					: 21px;
	margin-left				: 3px;
	margin-top				: 1px;
	position				: absolute;
	right					: 4px;
	top						: 3px;
	width					: 21px;
	z-index					: 100;
}
input.searchField, input.searchFieldinCat, input.searchFieldCat {
	border					: 1px solid #929292;
	background-color			: #000;
	font-weight				: normal;
	font-size				: 13px;
	float					: left;
	color					: #808080;
	margin-top				: 3px;
	padding					: 3px 23px 2px 4px;
	width					: 178px;
	z-index					: 50;
}
.pages {
	display					: block;
	float					: right;
	height					: 22px;
	margin					: 3px 0px 0px !important;
	padding					: 0px;
	text-align				: left;
	vertical-align				: top;
	width					: 80%;
}
.membersPage .pages {
	position				: relative;
	z-index					: 200;
}
.videosTable ul {
	margin					: 0;
	overflow				: hidden;
}
.videosTable .pages {
	top						: 18px;
	display					: none !important;
	right					: 0px;
	position				: absolute;
	width					: 500px;
}
.pages a {
	display					: block;
	float					: right;
	text-decoration				: none;
}
.pages a, .pages a b, #currentPageNum, #currentPageNum b {
	background				: url("http://img01.redtubefiles.com/_thumbs/design/pb.png") top left no-repeat;
	color					: #FFF;
	font-size				: 14px;
	font-weight				: bold;
	padding					: 3px 6px;
	text-decoration				: none;
	vertical-align				: top;
}
.pages a, #currentPageNum {
	padding					: 3px 0px 3px 6px;
	margin					: 0 4px;
}
.pages a b, #currentPageNum b {
	background-position			: top right;
	padding					: 3px 6px 3px 0px;
}
.pages a:hover {
	background-position			: 0 -22px;
	text-decoration				: none;
}
.pages a:hover b {
	background-position			: right center;
}
#currentPageNum {
	background-position			: left bottom;
	color					: #000 !important;
}
#currentPageNum b {
	background-position			: right bottom;
	color					: #000 !important;
}
#navPrev b, #navNext b {
	background-image			: none !important;
}
.navigate, #navPrev, #navNext {
	background-image			: url("http://img02.redtubefiles.com/_thumbs/design/navigate.png") !important;
}
#navPrev {
	background-position			: left top;
	margin-left				: 0;
	padding-left				: 10px;
}
#navPrev:hover {
	background-position			: left bottom;
}
#navNext {
	background-position			: right top;
	margin-right				: 0;
	padding-left				: 10px;
}
#navNext:hover {
	background-position			: right bottom;
}
.headerLine {
	display					: block;
	width					: 100%;
	height					: 20px;
	background				: url("http://img03.redtubefiles.com/_thumbs/design/mback.gif") top left repeat-x;
	background-position			: 0px -27px;
	margin-top				: -20px;
}
/*VIDEOS TABLE*/
h1.removedVideo {
	color					: #FFFFFF;
	font-weight				: bold;
	font-size				: 19px;
	font-family				: Arial;
	text-align				: left;
	padding					: 0px;
	margin					: 65px 0px 235px 0px;
}

.videoNotFound a {
	color					: #D60211;
	font-size				: 12px;
	text-decoration				: none;
}

.videoNotFound a:hover {
	text-decoration				: underline;
}

.videosTable {
	margin					: 0px;
	position				: relative;
}
.stars {
	float					: right;
	padding-top				: 1px;
}
.stars img {
	margin					: 0 -0.5px ;
	padding					: 0;
}
ul.videoThumbs {
	clear					: both;
	margin					: 0px;
	overflow				: hidden;
	padding					: 11px 0px 0px;
}
ul.videoThumbs li {
	font-size				: 11px;
	height					: 198px;
	margin					: 0px 12px 20px 0px;
	overflow				: hidden;
	width					: 182px;
}
div.fav_confbox {
	color					: #FFF !important;
	display					: none;
	font-size				: 12px !important;
	left					: 22px;
	position				: absolute;
	text-align				: center;
	top						: 14px;
	width					: 140px;
	z-index					: 100;
}
div.confirm_box_friend {
	display					: none;
	position				: absolute;
	top						: 14px;
	left					: 1px;
	z-index					: 100;
	font-size				: 12px !important;
	color					: #FFF !important;
	width					: 110px;
}
div.confirm_box {
	color					: #FFF !important;
	display					: none;
	font-size				: 12px !important;
	left					: 22px;
	position				: absolute;
	text-align				: center;
	top						: 22px;
	width					: 140px;
	z-index					: 100;
}
div.confirm_box p, div.fav_confbox p, div.confirm_box_friend p {
	text-align				: center;
	padding-bottom				: 3px;
}
div.confirm_box a, div.fav_confbox a {
	margin					: 0 5px 0 5px;
}
div.confirm_box a:hover, div.fav_confbox a:hover {
	text-decoration				: none;
}
div.confirm_box_friend a {
	margin					: 0 3px 0 3px;
	text-decoration				: none;
}
div.confirm_box_friend a.confirm_box_friend_text {
	color					: white;
	font-weight				: normal;
	text-decoration				: none;
	width					: 102px;
	display					: block;
	margin					: 0px auto;
	text-align				: center;
	padding					: 0px;
}
div.friend_holder {
	height					: 132px;
	width					: 110px;
	position				: relative;
}
div.thumb_holder {
	height					: 139px;
	width					: 182px;
	position				: relative;
}
div.thumb_holder_opacity {
	display					: none;
	position				: absolute;
	z-index					: 99;
	height					: 135px;
	width					: 180px;
	background-color		: #171717;
	top						: 1px;
	left					: 1px;
	opacity					: 0.8;
	filter					: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-ms-filter				: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
div.friend_opacity {
	display					: none;
	position				: absolute;
	z-index					: 99;
	height					: 130px;
	width					: 108px;
	background-color		: #171717;
	top						: 1px;
	left					: 1px;
	opacity					: 0.8;
	filter					: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-ms-filter				: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.privVid {
	color					: #a8a5a5;
	font-size				: 13px;
	font-weight				: bold;
	line-height				: 15px;
	left					: 15px;
	position				: absolute;
	text-align				: center;
	top						: 32px;
	width					: 150px;
	z-index					: 400;
}
.privVid p {
	cursor					: default;
}
.priv_tag {
	position				: absolute;
	top						: 3px;
	left					: 3px;
	display					: none;
}
div.del_button {
	display					: none;
	position				: absolute;
	top						: 3px;
	right					: 3px;
	z-index					: 110;
}
div.video {
	clear					: both;
	height					: 139px;
	width					: 185px;
}
div.video a {
	display					: block;
	clear					: both;
	height					: 135px;
	width					: 180px;
}
div.video img {
	border					: 1px solid #A0A0A0;
	clear					: both;
	height					: 135px;
	width					: 180px;
}
div.video.inReview img {
	border					: 1px solid #3b3b3b;
}
div.video.rejected {
	position				: relative;
}
div.video.rejected p {
	color					: #DC090F;
	font-size				: 12px;
	font-weight				: bold;
	left					: 0px;
	line-height				: 17px;
	margin					: 0px;
	padding					: 0px 10px;
	position				: absolute;
	text-align				: center;
	top						: 75px;
	width					: 170px;
	z-index					: 100;
}
div.stars img {
	border					: none;
	width					: 12px;
	height					: 12px;
}
.categoryTitle {
	color					: #C8101D;
	font-family				: Arial;
	font-weight				: bold;
	font-size				: 12px;
	padding					: 0px;
	margin					: 0px;
}
li.videoLast, li .videoLast, .videoLast {
	margin					: 0px;
}
.twoRowsTitle {
	clear					: both;
	display					: block;
	width					: 100%;
	height					: 32px;
	overflow				: hidden;
}
h2.videoTitle {
	clear					: both;
	display					: block;
	font-family				: Arial, sans-serif;
	font-size				: 14px;
	font-weight				: bold;
	height					: 32px;
	line-height				: 15px;
	margin					: 0px;
	padding					: 0px;
}
.specsLinks {
	margin					: 10px 5px;
	padding					: 0px;
}
.specsLinks li {
	font-size				: 12px;
	list-style				: none;
	font-family				: Tahoma,Arial;
	margin					: 0 0 5px;
	padding					: 0;
}
/*UPLOAD, LEGAL INFORMATION, PAGING*/
.footer {
	background				: #000 url("http://img04.redtubefiles.com/_thumbs/design/mback1.gif") 0px 10px repeat-x;
	color					: #666;
	clear					: both;
	font-size				: 11px;
	font-weight				: bold;
	height					: 90px;
}
.membersPage .footer {
	height					: 65px;
	position				: relative;
	top						: -25px;
	z-index					: 100;
}
.footer div {
	margin-top				: 5px;
}
.upload {
	padding					: 3px 0px;
}
.legacy {
	clear					: both;
	padding					: 17px 0px;
}
.legacy a {
	color					: #666;
	/*margin-left				: 11px;*/
}
.underLine {
	padding					: 42px 0px !important;
}
ul.legalLinks, ul.legalLinks li {
	display					: inline;
	float					: left;
	padding					: 0px;
	margin					: 0px;
}
.footer .uploadLink {
	float					: left;
	margin-top				: 13px;
}
.footer div.confirmAge {
	float					: right;
	text-align				: right;
	font-weight				: normal;
	display					: inline;
	margin-top				: 0;
}
/*BOTTOM ADS*/
#as3 {
	text-align				: center;
	width					: 765px;
	height					: 280px;
	overflow				: hidden;
}
/*BOTTOM LINKS*/
#bottomLinks {
	border-top				: 1px solid #666;
	font-size				: 10px;
	height					: 94px;
	padding					: 5px 0 25px;
}

#bottomLinks ul {
	display					: inline-block;
	float					: left;
	margin					: 0;
	padding					: 0;
	height					: 155px;
}

#bottomLinks li {
	display					: inline-block;
	float					: left;
	width					: 129px;
}

#bottomLinks li a {
	background				: url("http://img01.redtubefiles.com/_thumbs/v2009/design/ra_m2.png") 0px 4px no-repeat;
	display					: inline-block;
	font-size				: 12px;
	font-weight				: bold;
	padding-left			: 10px;
	text-decoration			: none;
	width					: 119px;
}

#bottomLinks li a:hover {
	text-decoration			: underline;
}

#categories, #categories li.bottomLinksTitle {
	width					: 245px;
}

#pornstars, #pornstars li.bottomLinksTitle {
	width					: 520px;
}
.bottomLinksTitle {
	color					: #666;
	font-size				: 18px;
	font-weight				: bold;
	display					: inline-block;
	padding-bottom			: 5px;
	width					: 100%;
}
#categories li {
	width					: 109px;
}
/*SUB-NAVIGATION*/
#sortingOptions, .subNavLinks {
	float					: right;
	padding-top				: 2px;
	text-align				: right;
	width					: 457px;
}
#sortingOptions li, .subNavLinks li {
	float					: right;
	margin					: 0 7px;
}
#sortingOptions .selectedSorting, .subNavLinks .selectedSorting {
	color					: #FFF;
	margin					: 0px -2px;
	position				: relative;
	text-align				: center;
	vertical-align			: middle;
}
#sortingOptions .selectedSorting a, a.selectedChannels, a.selectedSorting, .subNavLinks .selectedSorting a, a.selectedChannels, a.selected, a#categoriesLink.active  {
	background				: url("http://img01.redtubefiles.com/_thumbs/design/tll.png") 0 0 no-repeat;
	padding					: 2px 0 4px 9px;
	text-decoration			: none;
}
a.selectedChannels, a.selectedChannels, a.selected, a#categoriesLink.active {
	margin					: -2px 0 0 -9px;
	padding					: 2px 0 4px 9px;
	text-decoration			: none !important;
}
#sortingOptions .selectedSorting a b, a.selectedChannels b, a.selectedSorting b, .subNavLinks .selectedSorting a b, a.selectedChannels b, a.selected b, a#categoriesLink.active b {
	background				: url("http://img01.redtubefiles.com/_thumbs/design/tlr.png") top right no-repeat;
	padding					: 2px 9px 4px 0;
}
a#categoriesLink span {
	background				: url("http://img01.redtubefiles.com/_thumbs/design/dd_categories.gif") 5px 1px no-repeat;
}
a#categoriesLink span.expandedCategories {
	background-image		: url("http://img01.redtubefiles.com/_thumbs/design/dd_categories_video.jpg");
}
a#categoriesLink.active b span, a#categoriesLink.active:hover b span {
	background-position		: 5px -13px;
}
a.selectedChannels b, a#categoriesLink.active b {
	padding					: 2px 9px 4px 0;
}
#sortingOptions .selectedSorting a:hover, a.selectedChannels:hover, .subNavLinks .selectedSorting a:hover, a.selectedChannels:hover, a.selected:hover, a#categoriesLink.active:hover {
	text-decoration			: none;
}
#closeCategories {
	display					: block;
	height					: 21px;
	width					: 102px;
	position				: absolute;
	top						: 0px;
	left					: 5px;
	z-index					: 50;
}
a#cUploadVideos {
	margin-right			: 9px;
	margin-left				: 14px;
	float					: right;
}
a#cInboxVideos, a#cSettings {
	margin-left				: 10px;
	margin-right			: 4px;
	float					: right;
}
a#cSettings {
	margin-left				: 10px;
	margin-right			: 13px;
}
a.selectedSorting#cInboxVideos {
	margin-right			: -5px !important;
	margin-left				: 1px;
	float					: right;
}
a.selectedSorting#cUploadVideos {
	margin-left				: 5px !important;
	margin-right			: 0px !important;
	float					: right;
}
a.selectedSorting#cInboxVideos, a.selectedSorting#cUploadVideos, a.selectedSorting#cSettings {
	margin-top				: -2px;
}
a.selectedSorting#cSettings  {
	margin-right			: 4px !important;
}
.subNavigation {
	background				: #131313 url("http://img01.redtubefiles.com/_thumbs/design/snb.png") top left repeat-x;
	border					: 1px solid #929292;
	border-top				: none;
	clear					: both;
	font-family				: Arial;
	font-size				: 13px;
	font-weight				: bold;
	height					: 23px;
	padding					: 5px 0 3px;
	text-align				: right;
	vertical-align			: top;
	width					: 763px;
}
.subNavigation a {
	color					: #FFF;
	text-decoration			: none;
}
.subNavigation a:hover {
	text-decoration			: underline;
}
.subNavigation a.selectedSorting:hover  {
	text-decoration			: none;
}
#subNavFilters a {
	display					: block;
	font-family				: Arial;
	font-size				: 13px;
	font-weight				: bold;
}
#subNavigationFilter {
	float					: right;
	height					: 24px;
	margin					: -2px 3px 0 0px;
	text-align				: left;
	vertical-align			: top;
	width					: 76px;
}
#subNavFilters {
	background				: none;
	border					: 0;
}
#filtersDropDown {
	background				: url("http://img01.redtubefiles.com/_thumbs/design/dd_filters.png") 0 0 no-repeat;
	height					: 20px;
	outline					: 0;
	padding					: 4px 0 0 6px;
}
.dddisabled {
	background				: url("http://img02.redtubefiles.com/_thumbs/design/ddb.png") bottom left no-repeat !important;
	color					: #727272 !important;
	cursor					: default;
}
#filtersDropDown:hover {
	text-decoration			: underline !important;
}
#filtersDropDown.active{
	background-position	: 100% 100%;
}
#filtersDropDown.active:hover, #filtersDropDown:hover.active{
	text-decoration			: none !important;
	background-position		: 100% 100%;
}
a.dddisabled:hover, a:hover.dddisabled, #filtersDropDown:hover.dddisabled {
	text-decoration			: none !important;
}
#subNavFilters a:hover {
	text-decoration			: none;
}
/*DROPDOWN*/
.subNavigation dl {
	margin					: 0;
}
.subNavigation dd {
	position				: absolute;
	overflow				: hidden;
	display					: none;
	z-index					: 200;
}
.subNavigation dd, .subNavigation ul {
	margin					: 0;
	padding					: 0;
}
#subNavigationFilter ul {
	background-color		: #181818;
	border					: 1px solid #4c4c4c;
	border-bottom			: 0;
	border-top				: none;
	height					: auto;
	margin					: 0;
	overflow				: hidden;
	padding					: 5px 0 0 0;
	width					: 74px;
}
#subNavigationFilter ul li {
	display					: block;
	clear					: both;
	height					: 20px;
	margin					: 0 0 0 8px;
	width					: 100%;
}
#subNavigationFilter ul li a:hover {
	text-decoration			: underline;
}
.categoriesBreadcrumb {
	float					: left;
	padding-top				: 2px;
	padding-left			: 13px;
	position				: relative;
	width					: 200px;
}
.categoriesLink, #categoriesLink {
	display					: block;
	float					: left;
	margin-right			: 9px;
}
.categoriesBreadcrumb ul {
	border					: none;
	float					: left;
	margin-left				: -3px;
	padding					: 0px;
}
#addlCatList {
	/*margin-left				: -17px;*/
}
.categoriesBreadcrumb li {
	background				: url('http://img04.redtubefiles.com/_thumbs/design/delimiter.png') 1px 3px no-repeat;
	border					: none;
	float					: left;
	padding					: 0 0 0 9px;
	margin-right			: 7px;
}
.categoriesBreadcrumb li.firstCategory {
	background				: none;
}
#starsPage {
	padding-top				: 3px;
	width					: 420px;
}
#starsPage ul {
	background				: none;
	margin-left				: 135px;
}
#starsPage li {
	background-position		: 1px 1px;
	margin-right			: 3px;
	padding					: 0 0 0 5px;
}
#starsPage a {
	display					: block;
	float					: left;
	margin-right			: 5px;
}
#starsPage a.selected {
	background				: none;
	color					: #616161;
	margin-top				: 0px;
	padding-top				: 0px;
}
#alphabetical, #videosCount {
	float					: right;
	margin-top				: 2px;
	margin-left				: 0px;
	margin-right			: 0px;
}
#videosCount {
	margin-right			: 12px;
}
.selectedChannels#alphabetical {
	margin-right			: 10px;
}
.selectedChannels#videosCount {
	margin-left				: 10px;
	margin-right			: 3px;
}
.selectedChannels#alphabetical, .selectedChannels#videosCount {
	margin-top				: 0px;
}
#starsPage .allStarsLink {
	background				: url('http://img01.redtubefiles.com/_thumbs/design/separator_all.png') 100% 3px no-repeat !important;
	padding-right			: 5px;
}
.videosCount {
	color					: #717171;
	font-size				: 11px;
}
.subNavDelimiter {
	color					: #FFF;
	float					: right;
	margin-top				: 1px;
	margin-right			: 3px;
}
/* DROPDOWN CATEGORIES */
.subMenuCategories {
	background-color		: #161616;
	border					: 1px solid #7d7d7d;
	border-top				: 0px;
	clear					: both;
	display					: none;
	margin-left				: -14px;
	position				: absolute;
	top						: 27px;
	width					: 763px;
	z-index					: 200;
}
.subMenuCategories ul {
	background				: none;
	clear					: both;
	margin					: 10px 0px 0px 10px;
	overflow				: hidden;
	padding					: 0px;
}
.subMenuCategories ul li {
	background				: none;
	float					: left;
	height					: 109px;
	margin-right			: 8px;
	padding					: 0px;
	position				: relative;
	width					: 117px;
}
.subMenuCategories ul li a {
	background				: url("http://img01.redtubefiles.com/_thumbs/categories/mainthumbs_small.jpg") left top no-repeat;
	border					: 1px solid #7d7d7d;
	display					: block;
	height					: 85px;
	position				: relative;
	width					: 115px;
}
.subMenuCategories ul li h3 {
	margin					: 1px 0px 0px;
	padding					: 0px;
	text-align				: center;
}
.subMenuCategories ul li h3 a {
	background				: none;
	border					: none;
	color					: #d6030e;
	display					: inline;
	font-size				: 11px;
	height					: 15px;
}
.subMenuCategories .pornLinks {
	clear					: both;
	float					: right;
	margin					: 0px 10px 10px;
	overflow				: hidden;
	text-align				: right;
	width					: 50%;
}
.subMenuCategories .pornLinks a {
	background				: url('http://img04.redtubefiles.com/_thumbs/design/tags_arrow.gif') 0px 3px no-repeat;
	color					: #FFF;
	margin-left				: 10px;
	padding-left			: 9px;
}
/*ERROR 404*/
p.error404 {
	color					: #FFF;
}
.suggVideos {
	text-align				: left;
	width					: 100%;
	clear					: both;
}
.suggVideos h2, h1.error404 {
	color					: #404040;
	font-weight				: bold;
	font-size				: 19px;
	font-family				: Arial;
	margin					: 0px;
	padding					: 20px 0px 12px 0px;
}
h1.error404 {
	color					: #FFF;
	padding					: 0;
}
.suggVideos ul {
	padding					: 0px;
	margin					: 0 0 12px;
	float					: left;
	text-align				: left;
}
.suggVideos ul li {
	display					: inline;
	float					: left;
	padding-right			: 10px;
	margin-bottom			: 15px;
	text-align				: left;
	width					: 144px;
	height					: 156px;
}
.suggVideos ul li.videoLast {
	margin					: 0px;
	padding					: 0px;
}
.suggVideos h2.twoRowsTitle {
	width			: 144px;
	vertical-align	: top;
	padding			: 0px;
	margin			: 0px 0px 2px;
	display			: block;
	height			: 30px;
	overflow		: hidden;
}
.suggVideos .videoThumbLink {
	height			: 110px;
}
.suggVideos ul img {
	width			: 142px;
	height			: 106px;
}
.suggVideos .relTime {
	color			: #FFF;
	font-size		: 11px;
	font-family		: Arial,Tahoma,sans-serif;
	font-weight		: bold;
	float			: left;
	margin			: -1px 0px 0px;
	text-align		: left;
}
.suggVideos .relStars {
	float			: right;
	text-align		: right;
	margin			: -1px 0xp 0px;
	width			: 75px;
}
.suggVideos .relStars img {
	border			: none;
	float			: left;
	width			: 12px;
	height			: 12px;
	margin			: 1px 0 0 3px;
}
.transpBackgr {
	display			: none;
	height			: 100%;
	left			: 0px;
	padding-top		: 300px;
	position		: absolute;
	text-align		: center;
	top				: 0px;
	width			: 100%;
}
/* LOGIN BOX */
.loginBackground, .friendsReqBackground {
	background-color: #000;
	height			: 100%;
	left			: 0px;
	opacity			: 0.65;
	filter			: alpha(opacity=65);
	position		: fixed;
	top				: 0px;
	width			: 100%;
	z-index			: 995;
}
.loginBox {
	background		: url("http://img02.redtubefiles.com/_thumbs/design/login_background.png") 0px 23px no-repeat;
	height			: 362px;
	margin			: 0px auto;
	text-align		: left;
	width			: 585px;
}
#loginIFrame {
	/*background-color: transparent;*/
	margin			: 0px 207px 0px 0px;
	overflow		: hidden;
	position		: relative;
	z-index			: 1000;
}
.loginTop, .loginMain, .loginBottom {
	float			: left;
	overflow		: hidden;
	width			: 595px;
}
.loginTop {
	background		: url("http://img03.redtubefiles.com/_thumbs/design/login_top.png") 434px 0px no-repeat;
	height			: 23px;
}
.loginMain {
	background		: url("http://img04.redtubefiles.com/_thumbs/design/girls/reg_b_003.png") 295px 0px no-repeat;
	float			: left;
	height			: 323px;
	padding-left	: 21px;
	width			: 574px;
}
.loginHeader, .friendsReqHeader {
	overflow		: hidden;
}
.loginMain h1, .friendsReqBox h1 {
	color			: #FFF;
	font-size		: 14px;
	font-weight		: bold;
	float			: left;
	margin			: 0px;
	padding			: 19px 0px;
}
.loginMain .closeButton, .friendsReqBox .closebutton {
	background		: url("http://img01.redtubefiles.com/_thumbs/icons/close_icon.png") 100% 50% no-repeat;
	color			: #FFF;
	display			: block;
	font-size		: 10px;
	float			: right;
	margin			: 21px 24px 17px 0px;
	padding-right	: 15px;
}
.loginMain .loginData {
	height			: 223px;
	padding			: 5px 260px 0px 0px;
	vertical-align	: top;
	width			: 300px;
}
.loginMain input {
	background-color: #FFF;
	border			: 1px solid #929292;
	color			: #000;
	font-weight		: normal;
	height			: 21px;
	margin			: 0px 0px 10px 0px;
	padding			: 0px 6px;
	width			: 213px;
}
.checkbox, .regForm input[type=checkbox], .regForm .customRadio input {
	border			: 0px;
	float			: left;
	margin			: 0px 5px 0px 0px;
	padding			: 0px;
	width			: 15px !important;
}
input.errorField {
	border			: 1px solid #c1101d !important;
}
#rememberLabel {
	display			: block;
	font-size		: 11px;
	float			: left;
	overflow		: hidden;
}
.loginMain ul, .loginMain li {
	float			: left;
	margin			: 0px;
	padding			: 0px;
}
.loginMain ul {
	margin-top		: 10px;
}
.loginMain li {
	padding-right	: 5px;
}
.loginMain li a {
	color			: #FFF;
	font-size		: 11px;
}
.loginBottom {
	background		: url("http://img02.redtubefiles.com/_thumbs/design/login_bottom.png") 319px 0px no-repeat;
	height			: 18px;
}
.regLabel {
	color			: #808080;
	font-family		: Arial;
	font-size		: 15px;
	font-weight		: bold;
	padding			: 0px 8px 0px 11px;
	text-align		: left;
	vertical-align	: middle;
}
.top {
	vertical-align	: top !important;
}
.loginMain .regLabel {
	font-size		: 13px;
	margin			: 0px;
	padding-left	: 0px;
	width			: 85px;
}
/* END LOGIN BOX */

/* Friend Request Popup */
.friendsReqBox {
	background		: url("http://img02.redtubefiles.com/_thumbs/design/friend_req_background.png") 0px 0px no-repeat;
	font-family		: Arial;
	height			: 220px;
	margin			: 14px auto;
	padding-right	: 219px;
	position		: relative;
	text-align		: left;
	width			: 425px;
	z-index			: 996;
}
.friendsReqBox .closeButton {
	background		: url("http://img01.redtubefiles.com/_thumbs/icons/close_icon.png") 100% 50% no-repeat;
	color			: #FFF;
	display			: block;
	font-size		: 10px;
	float			: right;
	margin			: 21px 24px 17px 0px;
	padding-right	: 15px;
}
.friendsReqHeader, .friendsReqContent {
	padding-left		: 20px;
	overflow		: hidden;
}
.friendsReqContent {
	margin-top		: 8px;
}
.friendsReqBox h1 {
	margin-left		: 2px;
}
.friendsReqContent img {
	border			: 1px solid #4d4d4d;
	float			: left;
	margin-top		: 3px;
}
.friendsReqContent div {
	float			: left;
	overflow		: hidden;
	padding-left	: 10px;
	width			: 285px;
}
.friendsReqContent p {
	color			: #808080;
	font-size		: 13px;
	font-weight		: bold;
	margin			: 0px 0px 3px;
	padding			: 0px;
}
.friendsReqContent#step2 p {
	color			: #808080;
	font-size		: 13px;
	font-weight		: bold;
	margin			: 0px 0px 19px;
	padding			: 0px;
}
.friendsReqContent#step2 p a {
	color			: #FFF;
	margin			: 0px;
}
.friendsReqContent textarea {
	background		: #171717 url('http://img01.redtubefiles.com/_thumbs/design/friend_req_ta_background.png') left top repeat-x;
	border			: 1px solid #929292;
	clear			: both;
	color			: #FFF;
	float			: left;
	font-family		: Arial;
	font-size		: 12px;
	height			: 71px;
	padding			: 5px;
	width			: 251px;
}
.friendsReqContent #btnCancel {
	background		: url('http://img01.redtubefiles.com/_thumbs/design/btnCancel.png') left top no-repeat;
	width			: 90px;
}
.friendsReqContent #btnSendReq {
	background		: url('http://img01.redtubefiles.com/_thumbs/design/btnSendFriendRequest.png') left top no-repeat;
	width			: 163px;
}
.friendsReqContent a {
	display			: block;
	float			: left;
	height			: 22px;
	margin			: 10px 10px 0px 0px;
}
.friendsReqContent a:hover {
	background-position: left bottom;
}
/* End Friend Request Popup */

#errorBoxesHolder .errorBox {
	margin-top		: 20px;
}
.errorBox, .infoBox {
	background		: #3a0509 url("http://img03.redtubefiles.com/_thumbs/design/error_box_tl.png") left top no-repeat;
	margin-bottom	: 20px;
	overflow		: hidden;
}
.infoBox {
	background		: #1f1f1f url("http://img04.redtubefiles.com/_thumbs/design/info_box_tl.png") left top no-repeat;
	margin-bottom	: 10px;
}
.errorBox .errorBoxTop, .infoBox .infoBoxTop {
	background		: url("http://img01.redtubefiles.com/_thumbs/design/error_box_tr.png") right top no-repeat;
	height			: 9px;
	margin-left		: 9px;
	overflow		: hidden;
}
.infoBox .infoBoxTop {
	background-image: url("http://img02.redtubefiles.com/_thumbs/design/info_box_tr.png");
}
.errorBox .errorBoxBottom {
	background		: url("http://img03.redtubefiles.com/_thumbs/design/error_box_bl.png") left bottom no-repeat;
}
.infoBox .infoBoxBottom {
	background		: url("http://img04.redtubefiles.com/_thumbs/design/info_box_bl.png") left bottom no-repeat;
}
.errorBox .bottomRight, .infoBox .bottomRight {
	background		: url("http://img02.redtubefiles.com/_thumbs/design/error_box_br.png") right bottom no-repeat;
	height			: 9px;
	margin-left		: 9px;
}
.infoBox .bottomRight {
	background-image: url("http://img03.redtubefiles.com/_thumbs/design/info_box_br.png");
}
.errorBox .errorBoxBody, .infoBox  .infoBoxBody {
	background		: url("http://img04.redtubefiles.com/_thumbs/icons/community_error.png") 8px center no-repeat;
	border			: 1px solid #c1101d;
	border-top		: 0px;
	border-bottom	: 0px;
	margin-top		: 0px;
	margin-bottom	: 0px;
	min-height		: 36px;
	overflow		: hidden;
	padding-top		: 0px;
	padding-bottom	: 0px;
}
.infoBox  .infoBoxBody {
	border-right	: 1px solid #8c8c8c;
	border-left		: 1px solid #8c8c8c;
}
.errorBox .errorBoxBody p, .errorBox .errorBoxBody h2, .infoBox .infoBoxBody p, .infoBox .infoBoxBody h2 {
	color			: #FFF;
	font-size		: 13px;
	margin			: 0px;
	padding			: 0px 10px 0px 50px;
}
.errorBox .errorBoxBody p, .infoBox .infoBoxBody p{
	padding-top		: 2px;
}
#communityForgotten .errorBox .errorBoxBody p, #communityForgotten .infoBox .infoBoxBody p {
	padding-top		: 0px;
}
.infoBox .infoBoxBody#largeBox {
	background-image: none;
}
.infoBox .infoBoxBody#largeBox p {
	padding			: 0px 15px 0px 15px;
}
.loginMain .errorBox {
	background		: #3a0509 url("http://img02.redtubefiles.com/_thumbs/design/error_box_login_tl.png") left top no-repeat;
	margin-bottom	: 10px;
	width			: 300px;
}
.loginMain .errorBox .errorBoxTop {
	background		: url("http://img03.redtubefiles.com/_thumbs/design/error_box_login_tr.png") right top no-repeat;
}
.loginMain .errorBox .errorBoxBottom {
	background		: url("http://img04.redtubefiles.com/_thumbs/design/error_box_login_bl.png") left bottom no-repeat;
	width			: 300px;
}
.loginMain .errorBox .bottomRight {
	background		: url("http://img02.redtubefiles.com/_thumbs/design/error_box_login_br.png") right bottom no-repeat;
}
.loginMain .regSubmit {
	background		: url("http://img03.redtubefiles.com/_thumbs/design/btnSignIn.png") left top no-repeat;
	border			: 0px;
	color			: #000;
	height			: 22px;
	width			: 213px;
}
.loginMain .regSubmit:hover {
	background-position	: left bottom;
}
.customRadio {
	background		: url("http://img01.redtubefiles.com/_thumbs/design/radioButtons.png") left top no-repeat;
	display			: block;
	float			: left;
	height			: 14px;
	margin			: 1px 5px 0px 0px !important;
	width			: 14px;
}
.customCheckbox.checked {
	background-position	: left center;
}
.customRadio input {
	opacity			: 0;
}
.errorField .customRadio {
	background-position	: left bottom;
}
.customCheckbox {
	background		: url("http://img01.redtubefiles.com/_thumbs/design/checkBoxes.png") left top no-repeat;
	display			: block;
	float			: left;
	height			: 12px;
	margin			: 0px 5px 10px 0px !important;
	overflow		: hidden;
	width			: 12px;
}
.customCheckbox.checked {
	background-position	: 0 -12px;
}
.customCheckbox input {
	opacity			: 0;
	-ms-filter		: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter			: alpha(opacity=0);
	height			: 12px !important;
	margin			: 0px;
	padding			: 0px;
	width			: 12px !important;
}
.loginBox #captchaLabel {
	padding-top		: 4px;
}
.loginBox #captcha, .loginBox #captchaDiv {
	border			: 1px solid #929292;
	float			: left;
	height			: 22px;
	margin-top		: 0px;
	width			: 100px;
}
.loginBox #loginCaptcha {
	float			: right;
	margin-right	: 3px;
	padding			: 0px 6px;
	width			: 84px;
}
.loginBox .customChcekbox {
	margin			: 0px 5px 10px 0px !important;
}
.show {
	display			: block;
}
.hide {
	display			: none;
}
/* Reminder Tooltip */
.activateTooltip {
	background		: url("http://img02.redtubefiles.com/_thumbs/design/activationReminder.png") left top no-repeat;
	height			: 64px;
	position		: relative;
	width			: 526px;
}
.activateTooltip#topTooltip {
	background-position: left bottom;
	position		: absolute;
	right			: 18px;
	top				: 148px;
	z-index			: 680;
}
.activateTooltip#bottomTooltip {
	bottom			: 358px;
	height			: 64px;
	position		: absolute;
	left			: 0px;
}
.activateTooltip div {
	display			: block;
}
.activateTooltip p {
	color			: #FFF;
	font-family		: Arial;
	font-size		: 13px;
	font-weight		: bold;
	margin			: 0px;
	padding			: 10px 12px 14px 47px;
}
.tooltipArrow {
	height			: 11px;
	width			: 100%;
}
.tooltipArrow#ttTop {
	background		: url("http://img03.redtubefiles.com/_thumbs/design/ttaTop.png") 470px 0px no-repeat;
}
#bottomTooltip .tooltipArrow#ttTop {
	display			: none;
}
.tooltipArrow#ttBottom {
	background		: url("http://img04.redtubefiles.com/_thumbs/design/ttaBottom.png") 42px 0px no-repeat;
	margin			: -3px 0px 0px 0px !important;
}
#topTooltip .tooltipArrow#ttBottom {
	display			: none;
}

.vertical_aligned{
	color			: #7a7a7a;
	font-size		: 12px;
	font-weight		: bold;
	left			: 50%;
	line-height		: 140%;
	margin-top		: -45px;
	_margin-top		: -50px;
	margin-left		: -75px;
	height			: 90px;
	position		: absolute;
	top				: 50%;
	text-align		: center;
	width			: 150px;
}


.vertical_aligned_bottom{
	color			: #7a7a7a;
	font-size		: 12px;
	font-weight		: bold;
	left			: 50%;
	line-height		: 140%;
	margin-top		: -33px;
	_margin-top		: -42px;
	margin-left		: -75px;
	height			: 90px;
	position		: absolute;
	top				: 50%;
	text-align		: center;
	width			: 150px;
}

.upload_video_box {
	background-position	: 0 6px;
	background-image	: url('http://img04.redtubefiles.com/_thumbs/design/videoRejected.jpg');
	background-repeat	: no-repeat;
	border				: 1px solid #3b3b3b;
	height				: 135px !important;
	width				: 180px !important;
}

.upload_view_link {
	display			: block;
	background-image:url("http://img01.redtubefiles.com/_thumbs/design/upload_view_link.jpg");
	background-repeat:no-repeat;
	width			:144px !important;;
	height			: 22px !important;;
	left			: 50%;
	position		: absolute;
	margin-left		: -72px;
	top				: 50px;
	_top			: 60px;
	text-indent		: -9999px;
	position		: absolute;
}
.thumb_empty {
	border			: 1px solid #3b3b3b;
	height			: 135px !important;
	width			: 180px !important;
}
.tags_module span{
	color: white !important;
}
/* AGE VERIFICATION */
#avOverlayHolder {
	background-color: #000;
	height			: 100%;
	left			: 0px;
	position		: absolute;
	top				: 0px;
	width			: 100%;
	z-index			: 50000;
}

.avContent, .profile, .debug {
	width				: 80%;
	margin				: 50px auto;
	clear				: both;
}
.avContent img.logo {
	border				: none;
	float				: none;
	height				: 75px;
	width				: 223px;
}
.avContent p {
	padding-top			: 10px;
	font-size			: 16px;
	font-weight			: bold;
	margin				: 20px 0px;
}
.avContent p.topSentence {
	padding-top			: 8px;
	font-size			: 24px;
}
.avContent div.buttons {
	padding-top			: 20px;
}
/*BUTTONS*/
.avContent a.buttonStyle {
	font-size			: 18px;
	color				: #000;
	display				: inline-block;
	width				: 132px;
	height				: 35px;
	background			: url(/images/button-grey.png) left top no-repeat;
	border				: none;
	background-position	: 0px 3px;
	cursor				: pointer;
	text-align			: center;
	padding-top			: 8px;
	margin-top			: 1px;
}
.avContent a.buttonStyle#rte {
	margin-right		: 60px;
}
.avContent a.buttonStyle:hover, а:hover.buttonStyle {
	text-decoration		: none;
}
.avContent .separator {
	display				: block;
	float				: left;
}
/*CHECKBOX*/
.avContent .chbx {
	display				: inline-block;
	width				: 20px;
	height				: 17px;
	margin-right		: 7px;
	color				: #000;
	border				: none;
	background-image	: url(_pix/checkboxes2.png);
	background-repeat	: no-repeat;
}
.avContent .chbx:hover {
	color				: #000;
	border				: none;
	cursor				: auto;
}
.avContent .chbx#chckd {
	background-position	: 0px -22px;
}
.avContent .chbx#uchckd {
	background-position	: 0px 1px;
	display				: none;
}
.avContent .btnContainer {
	display				: inline-block;
	background			: url(/images/button-grey.png) 0 4px no-repeat;
}

#contentOverlayed {
	display				: none;
}

.show {
	display				: block;
}
.hide {
	display				: none;
}

#moreTopSearches {
	background				: url('http://img04.redtubefiles.com/_thumbs/design/snb.png') left top repeat-x;
	border					: 1px solid #7d7d7d;
	_height					: 100%;
	margin-top				: 19px;
	padding					: 5px 10px;
}

#moreTopSearches .topSearch {
	overflow				: hidden;
}

#moreTopSearches .topSearch ul {
	display					: inline;
	margin					: 0px;
	overflow				: hidden;
	_height					: 100%;
	padding					: 0px;
}

#moreTopSearches .topSearch ul li {
	float					: left;
	_height					: 100%;
	overflow				: hidden;
	padding-right			: 5px;
	margin-right			: 2px;
}

#moreTopSearches .topSearch ul li#last {
	float					: right;
}

#moreTopSearches .topSearch ul li span {
	display					: block;
	font-size				: 12px;
	color					: #929292;
	font-weight				: bold;
	padding					: 2px 8px 3px 0;
}

#moreTopSearches .topSearch ul li a {
	color					: #FFF;
	text-indent				: 7px;
}

#moreTopSearches .topSearch ul li a:hover {
	text-decoration			: none;
}

#moreTopSearches .topSearch ul li a b {
	display					: block;
	padding					: 2px 3px 3px 0;
}

#tabsContentHolder div ul {
	margin					: 0;
	padding					: 0;
}

#tabsContentHolder div ul.tags {
	float					: left;
	width					: 146px;
}

#tabsContentHolder div ul.tags li {
	_height					: 100%;
	overflow				: hidden;
}

#tabsContentHolder div ul.tags li a {
	color					: #ffffff;
	display					: block;
	float					: left;
	margin-top				: 2px;
	text-indent				: 5px;
}
.topSearches #tabsContentHolder div ul.tags li a {
	font-size				: 12px;
	font-weight				: normal;
	margin-top				: 1px;
}
#tabsContentHolder div ul.tags li a:hover {
	text-decoration			: none;
}

#tabsContentHolder div ul.tags li span {
	color					: #939393;
	display					: block;
	float					: left;
	height					: 15px;
	text-align				: right;
	width					: 24px;
}
#moresearchterms {
	margin					: -10px;
	overflow				: hidden;
	padding					: 7px 0px 2px 11px;
}
#moresearchterms ul.tags,
#tagger_pornstars ul.tags,
#tagger_tags ul.tags{
	width					: 247px !important;
	_width					: 244px !important;
}

#moresearchterms ul.tags li,
#tagger_pornstars ul.tags li,
#tagger_tags ul.tags li{
	padding-bottom			: 5px;
}

#moresearchterms ul.tags li a ,
#tagger_pornstars ul.tags li a,
#tagger_tags ul.tags li a{
	text-indent				: 10px !important;
}
#tagger_tags ul.tags li a:hover {
	text-decoration: underline !important;
}
#moresearchterms ul.tags li {
	background-position		: 0px 3px;
	padding-bottom			: 7px;
}
#tagger_pornstars ul.tags,
#tagger_tags ul.tags{
	width					: 184px;
	_width					: 165px;
}
.topSearches #tabsContentHolder div#moresearchterms ul.tags li a {
	margin-top				: 2px;
}
.newComment {
	background-color		: black;
	border					: 0;
	color					: white;
	margin					: 0pt;
	overflow				: hidden;
	width					: 100%;
	font-family				: Tahoma,Helvetica,Arial,sans-serif;
	font-size				: 13px;
}

#commentsCount {
	display					: inline !important;
}
/* Pornstars and tags tabs */
.watchPage#tabsContentHolder {
	padding-top		: 6px;
	padding-bottom	: 5px;
}
.watchPage #tagger_pornstars ul.tags li,
.watchPage #tagger_tags ul.tags li {
	padding-bottom	: 6px;
}
#moreTopSearches .topSearch ul li span {
	font-size		: 13px;
	padding-right	: 2px;
}
.watchPage#tabsContentHolder #tagger_tags ul.tags {
	width			: 745px !important;
}
.watchPage#tabsContentHolder div ul.tags li {
	float			: left;
	width			: 186px;
}
.pornstarDir {
	color			: #FFF;
	display			: block;
	float			: right;
	margin			: 2px 1px 0px 0px;
}
.watchPage#tabsContentHolder {
	background		: none;
	padding			: 0px;
}
.watchPage#tabsContentHolder div {
	overflow		: hidden;
	padding			: 6px 10px 5px 10px;
}
.watchPage #tagger_pornstars {
	background		: none;
}
.watchPage#tabsContentHolder div ul#pornstarsList {
	margin-bottom	: 4px;
}
.watchPage#tabsContentHolder div ul#pornstarsList li {
	float			: left;
	margin-top		: 3px;
	margin-right	: 20px;
	width			: 107px;
}
.watchPage#tabsContentHolder div ul#pornstarsList li img {
	border			: 1px solid #a0a0a0;
	height			: 120px;
	width			: 105px;
}
h3.pornStarTitle {
	font-size		: 12px;
	font-weight		: bold;
	height			: 15px;
	margin			: 3px 0 0;
	overflow		: hidden;
}
/* COMMENTS */
.ProfileComments{
	padding			: 0px;
}
#allComments {
	display			: block;
	padding-top		: 7px;
}
.userComments #allComments {
	padding-top		: 4px !important;
}
.watchPage #tagger_comments,
.ProfileComments #tagger_comments {
	background		: none;
}
.ProfileComments #tagger_comments {
	min-height		: 230px;
}
.addComment, .notLoggedInComment, .comment, .comment div {
	display			: block !important;
}
.addComment {
	background		: none !important;
	padding			: 0px !important;
	overflow		: hidden;
}
.addComment img {
	margin-top		: 5px;
}
.addComment textarea {
	background-color: #000;
	border			: 1px solid #929292;
	color			: #FFF;
	font-family		: Arial;
	font-size		: 12px;
	display			: block;
	float			: left;
	height			: 60px;
	margin			: 5px 0px 0px 10px;
	padding			: 10px;
	width			: 646px;
}
.addComment button {
	border			: none;
	float			: right;
	height			: 22px;
	margin-top		: 10px;
	text-indent		: -1000px;
	width			: 234px;
}
.addComment button:hover {
	background-position	: left bottom;
}
.addComment button.disabled, .addComment button.disabled:hover {
	background-position	: left center;
}
.addComment img,.comment img {
	float			: left;
	border			: 1px solid #4d4d4d;
}
#commentError {
	display			: block;
	float			: left;
	margin-top		: 10px;
}
p.notLoggedInComment, .preventComments {
	color			: #929292;
	font-size		: 13px;
	font-weight		: bold;
	height			: 10px;
	margin			: 10px 0px 11px;
}
p.notLoggedInComment a, .preventComments a {
	color			: #FFF;
}
.watchPage #tagger_comments .comment,
.ProfileComments #tagger_comments .comment {
	background		: none;
	clear			: both;
	margin			: 0px;
	padding			: 0px 0px 20px 0px;
	overflow		: hidden;
}
.ProfileComments .comment .commentHeader,
.ProfileComments .comment .commentContent{
	float				: left;
	padding				: 0px;
	width				: 690px;
}
.watchPage .comment .commentHeader,
.watchPage .comment .commentContent {
	float				: left;
	padding				: 0px !important;
	width				: 668px;
}
.watchPage .comment .commentHeader,
.ProfileComments .comment .commentHeader {
	background-color	: #262626 !important;
	background-image	: none !important;
	height				: 22px;
	margin				: 2px 0px 0px 10px;
	overflow			: hidden;
}
.watchPage .comment .commentHeader .left,
.ProfileComments .comment .commentHeader .left {
	color				: #929292;
	float				: left;
	font-size			: 10px;
	margin				: 4px 0px 0px 6px;
}
.watchPage .comment .commentHeader .right,
.ProfileComments .comment .commentHeader .right {
	float				: right;
	color				: #929292;
	font-size			: 12px;
	margin				: 3px 8px 0px 0px;
	text-align			: right;
}
.watchPage .comment .commentHeader .right a,
.ProfileComments .comment .commentHeader .right a {
	color				: #FFF;
	font-size			: 12px;
}
.watchPage .comment .commentHeader .left em,
.ProfileComments .comment .commentHeader .left em {
	color				: #d60211;
	font-size			: 12px;
	font-style			: normal;
	padding-right		: 6px;
}
.watchPage .comment .commentContent,
.ProfileComments .comment .commentContent {
	color				: #FFF;
	margin				: 10px 0px 0px 10px;
}
/* END COMMENTS */

/* USER MESSAGES */
.ProfileComments .sectionHeading ul,
.sectionHeading.membersSearch ul  {
	float: left;
	text-align: left;
	margin: 7px 0 0 1px;
	padding: 0;
}
.sectionHeading.membersSearch ul {
	float	: right;
}
.ProfileComments .sectionHeading ul li,
.sectionHeading.membersSearch ul li {
	float: left;
	margin-right: 6px;
	padding-right: 6px;
	margin-top: 3px;
	margin-left: 5px;
}
.ProfileComments .sectionHeading ul li a,
.sectionHeading.membersSearch ul li a,
.ProfileComments .sectionHeading div a {
	font-size		: 13px;
	color			: #FFF;
}
.ProfileComments .sectionHeading ul li.activeTab,
.sectionHeading.membersSearch ul li.activeTab {
	margin-top: 1px;
	padding: 0;
	margin-left: -1px;
	padding-right: 4px;
}
.ProfileComments .sectionHeading ul li.activeTab a
.sectionHeading.membersSearch ul li.activeTab a,
.sectionHeading.membersSearch ul li.activeTab a:hover {
	text-decoration: none;
}
.ProfileComments .sectionHeading ul li.activeTab a b,
.sectionHeading.membersSearch ul li.activeTab a b {
	display: block;
	padding: 2px 2px 3px 6px;
}
.ProfileComments .sectionHeading div {
	font-size		: 13px;
	padding			: 0px 10px 0 0;
	margin			: 8px 10px 0 0;

}
.ProfileComments .sectionHeading div span {
	color			: #717171;
	font-weight		: bold;

}
.ProfileComments .messageContent,
.ProfileComments .messageContentNew {
	float				: left;
	color				: #FFF;
	margin				: 0px 0px 0px 10px;
	overflow			: hidden;
	width				: 690px;
	height				: 58px;
}
.messageContentNew{
	background-color	: #404040;
}
.messageContent .messageBody,
.messageContentNew .messageBody {
	overflow			: hidden;
}
.messageContent .messageBody .innerContentOneRow,
.messageContentNew .messageBody .innerContentOneRow {
	padding				: 8px 0 0 0;
	overflow			: hidden;
	width				: 455px;
	float				: left;
}
.messageContent .messageBody .innerContent,
.messageContentNew .messageBody .innerContent {
	overflow			: hidden;
	width				: 455px;
	float: left;
}
.messageContent .messageBody .innerContent a,
.messageContentNew .messageBody .innerContent a {
	color				: #FFF;
}
.messageContent .messageBody .butActions,
.messageContentNew .messageBody .butActions {
	overflow	: hidden;
	width		: 160px;
	float		: right;
	padding		: 18px 10px 0 10px;
}
.messageContent .messageBody .butAccept,
.messageContentNew .messageBody .butAccept {
	float				: left;
	width				: 75px;
	height				: 22px;
}
.messageContent .messageBody .butIgnore,
.messageContentNew .messageBody .butIgnore {
	float				: right;
	width				: 75px;
	height				: 22px;
}
.messageContent .messageBody p,
.messageContentNew .messageBody p {
	margin				: 0 0 0 10px;
	overflow: hidden;
	height: 18px;
}
.messageContent .messageBody h2,
.messageContentNew .messageBody h2 {
	font-size			: 12px;
	font-weight			: bold;
	margin				: 15px 0 0 10px;
}
.messageContent .iconAddFriend,
.messageContentNew .iconAddFriend {
	height			: 38px;
	width			: 37px;
	float			: left;
	margin			: 10px 0 0 8px;
}
.messageContent .iconAcceptFriend,
.messageContentNew .iconAcceptFriend {
	height			: 38px;
	width			: 39px;
	float			: left;
	margin			: 10px 0 0 8px;
}
.messageContent .iconIgnoreFriend,
.messageContentNew .iconIgnoreFriend {
	height			: 38px;
	width			: 40px;
	float			: left;
	margin			: 10px 0 0 8px;
}
.messageContent .iconNewMail,
.messageContentNew .iconNewMail {
	height			: 29px;
	width			: 38px;
	float			: left;
	margin			: 15px 0 0 8px;
}
.messageContent .iconMail,
.messageContentNew .iconMail {
	height			: 43px;
	width			: 38px;
	float			: left;
	margin			: 10px 0 0 8px;
}
.messageContent .personalMsg,
.messageContentNew .personalMsg {
	padding			: 15px 0 0 56px;
}
.messageContent .personalMsg span,
.messageContentNew .personalMsg span {
	color			: #717171;
	margin			: 10px 0 0 0;
}
.messageContent .personalMsg p,
.messageContentNew .personalMsg p {
	padding			: 5px 0 0 0;
	margin			: 0;
}
/* END MESSAGES */

textarea {
	resize: none;
	outline: none;
}

/* DETAILED SEARCH TERMS */
h1.detailedSearch {
	font-size			: 19px;
	padding-top			: 19px;
}
.detailedSearchTerms {
	overflow			: hidden;
	padding-top			: 17px;
	width				: 765px;
}
.detailedSearchTerms ul {
	float				: left;
	margin				: 0px;
	padding				: 0px;
	width				: 255px;
}
.detailedSearchTerms ul li {
	margin-bottom		: 7px;
	padding-top			: 1px;
}
.detailedSearchTerms ul li a {
	color				: #FFF;
	font-size			: 12px;
	padding-left		: 10px;
}
.topSearches .topContentsTab {
	margin-top			: -3px;
	overflow			: hidden;
	padding-left		: 2px;
}
.topContentsTab ul {
	margin				: 0;
	padding				: 0;
	overflow			: hidden;
}

.topContentsTab ul li {
	padding				: 0;
	margin				: -1px 0px 0px !important;
	overflow			: hidden;
}

.topContentsTab ul li a {
	max-width			: 117px !important;
	height				: 16px;
	_height				: 15px;
	display				: block;
	overflow			: hidden;
}
.topContentsTab ul li a {
	height				: 15px;
}
#tagger_comments {
	background-image	: none !important;
}

#gayTag{
	width: 47px;
	height: 15px;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	left: 5px;
	top: 7px;
}

/* search form gay tag */
#gayTag a{
	color: white;
	text-decoration: none;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	position: absolute;
	display: block;
	padding: 1px 0px 0px 0px;
}

#gayTag a.gayLabel{
	left: 0px;
	top: 0px;
	width: 30px;
}

#gayTag a.gayLabel:hover{
	color: red;
}

#gayTag a.gayX:hover{
	color: red;
}

#gayTag a.gayX{
	right: 0px;
	top: 0px;
	width: 16px;
}

.gay_normal{
}

.gay_gay_hover{
}

.gay_x_hover{
}

/* ! end of search form gay tag */
</style>
<style type="text/css">
	@charset "UTF-8";
/* CSS Document */
body {
	background-color	: #000;
	background-position	: 0 0;
	background-repeat	: repeat;
}
</style>