<h5>Ваша короткая ссылка для входа на сайт</h5>
<a href="<%= url_for :controller => :profile, :action=>:short_url_login, :short_url=>@short_url, :only_path => false, :use_route => :short %>"><%= url_for :controller => :profile, :action=>:short_url_login, :short_url=>@short_url, :only_path => false, :use_route => :short %></a>