<div class="header">
	<span class="logo">

	</span>

	<div class="menu">
		<ul class="category">
			<li>Сиськи</li>
			<li>Письки</li>
			<li>Жопы</li>
			<li>Рот</li>
		</ul>
	</div>
</div>
<div class="body">
	<div class="list">
		<div class="video_preview">
			<div class="img">
				<a href="">
					<img src="" alt="">
				</a>
				<a class="to_playlist" href="">

				</a>
			</div>
			<span class="title">

			</span>
			<span class="description">

			</span>
		</div>
	</div>
</div>
<div class="footer">
	<span class="copyright">

	</span>

	<div class="menu">
		<ul class="footer_menu">
			<li>Сиськи</li>
			<li>Письки</li>
			<li>Жопы</li>
			<li>Рот</li>
		</ul>
	</div>
</div>